# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

#### Some of commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch

|       Data Science Tools       |
|:-:                             |
|RStudio                        |
|Apache Spark                   |
|TensorFowlow                   |
|Apache Hadoop                  ||RapidMine                      |

#### Below are a few examples of evaluating arithmetic expressions in Python
30/6

In [4]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

#### Objectives:  
* Python
* R
* SQL
* Java
* Julia
* Scala
* C/C++
* JavaScript

## Author  
Lianping